In [30]:
# About

# Import

In [31]:
import pandas as pd
from keplergl import KeplerGl
import geopandas as gpd

# 1. New York PD complaints data

# Load data

In [32]:
df = gpd.read_file("../data/NYPD_Complaint_Data_Current__Year_To_Date_.csv")
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column,geometry
0,758521794,67,,03/07/2021,01:50:00,,,COMPLETED,,,...,18-24,BLACK,M,1008789,177637,40.654223423000076,-73.91156340899995,"(40.654223423000076, -73.91156340899995)",POINT (-73.91156340899995 40.654223423000076),None
1,696896951,60,,03/26/2021,18:40:00,,,COMPLETED,,,...,25-44,BLACK HISPANIC,M,987641,148923,40.57544276900006,-73.98779476299995,"(40.57544276900006, -73.98779476299995)",POINT (-73.98779476299995 40.57544276900006),None
2,972479923,75,BROOKLYN,03/27/2021,15:55:00,03/27/2021,16:00:00,COMPLETED,,,...,25-44,BLACK,F,1020990,186549,40.67864264400004,-73.867542755,"(40.67864264400004, -73.867542755)",POINT (-73.867542755 40.67864264400004),None
3,109344500,77,BROOKLYN,03/28/2021,11:10:00,03/28/2021,11:23:00,COMPLETED,,,...,UNKNOWN,UNKNOWN,D,1004507,182865,40.66858395700007,-73.92697993199994,"(40.66858395700007, -73.92697993199994)",POINT (-73.92697993199994 40.66858395700007),None
4,673945415,23,,03/29/2021,23:13:00,,,COMPLETED,,,...,25-44,WHITE HISPANIC,M,1000267,228200,40.793026087000044,-73.94215617799993,"(40.793026087000044, -73.94215617799993)",POINT (-73.94215617799993 40.793026087000044),None

In [33]:
df['CMPLNT_FR_DT'] = pd.to_datetime(df['CMPLNT_FR_DT'],errors='coerce')

In [34]:
# Cut down to 2018
df_18 = df[df['CMPLNT_FR_DT'].dt.year ==2018]

In [35]:
df_18

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column,geometry
88,742903755,26,MANHATTAN,2018-09-14,18:00:00,09/14/2018,18:30:00,COMPLETED,,,...,25-44,BLACK,F,997177,234774,40.81107497700003,-73.95330303099996,"(40.81107497700003, -73.95330303099996)",POINT (-73.95330303099996 40.81107497700003),None
184,207054129,106,QUEENS,2018-01-01,00:00:00,01/01/2019,00:00:00,COMPLETED,,,...,<18,ASIAN / PACIFIC ISLANDER,F,1028713,187853,40.68218640100008,-73.83969048299997,"(40.68218640100008, -73.83969048299997)",POINT (-73.83969048299997 40.68218640100008),None
921,149067382,32,MANHATTAN,2018-07-14,20:00:00,07/18/2018,11:00:00,COMPLETED,,,...,18-24,BLACK,F,999358,236472,40.81573205300003,-73.94542041099999,"(40.81573205300003, -73.94542041099999)",POINT (-73.94542041099999 40.81573205300003),None
1048,933597286,123,STATEN ISLAND,2018-12-18,11:00:00,12/18/2018,11:30:00,COMPLETED,,,...,25-44,WHITE,M,914803,125922,40.51203825400006,-74.249754952,"(40.51203825400006, -74.249754952)",POINT (-74.249754952 40.51203825400006),None
1070,413812452,44,BRONX,2018-07-06,00:00:00,12/31/2018,23:59:00,COMPLETED,,,...,<18,WHITE HISPANIC,F,1006434,244344,40.83732351100008,-73.91983075699994,"(40.83732351100008, -73.91983075699994)",POINT (-73.91983075699994 40.83732351100008),None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193393,828796150,44,BRONX,2018-03-09,08:00:00,04/14/2021,17:43:00,COMPLETED,,,...,45-64,BLACK,M,1004530,242729,40.83289538100007,-73.92671649599998,"(40.83289538100007, -73.92671649599998)",POINT (-73.92671649599998 40.83289538100007),None
198709,652886526,48,,2018-03-05,01:32:00,,,COMPLETED,,,...,25-44,UNKNOWN,M,1014890,250841,40.85513056600007,-73.88924198299998,"(40.85513056600007, -73.88924198299998)",POINT (-73.88924198299998 40.85513056600007),None
202786,517284350,46,BRONX,2018-09-01,16:00:00,09/01/2018,18:00:00,COMPLETED,,,...,<18,WHITE HISPANIC,F,1011881,250411,40.85396027400003,-73.90012087499997,"(40.85396027400003, -73.90012087499997)",POINT (-73.90012087499997 40.85396027400003),None
203282,611920402,48,,2018-03-05,01:32:00,,,COMPLETED,,,...,<18,WHITE HISPANIC,M,1014890,250841,40.85513056600007,-73.88924198299998,"(40.85513056600007, -73.88924198299998)",POINT (-73.88924198299998 40.85513056600007),None
204618,129489951,46,BRONX,2018-09-01,20:00:00,03/01/2021,23:00:00,COMPLETED,,,...,<18,WHITE HISPANIC,F,1011881,250411,40.85396027400003,-73.90012087499997,"(40.85396027400003, -73.90012087499997)",POINT (-73.90012087499997 40.85396027400003),None

# Export for later use

In [36]:
df_18.to_csv('../data/NYPD_COMPLAINTS_2018.csv')

---
# Getting started
## Create a basemap

In [57]:
map = KeplerGl(height=600,width=800)
map

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(height=600)

## Add data
* the easiest way to do so is to convert it to a geodataframe which we can do with geopandas

In [58]:
# use 2018 data
df = df_18

In [59]:
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.Longitude, df.Latitude))
map.add_data(data=gdf, name= "crimes")

---
# 2. Visualising geospatial data with kepler

In [61]:
from sodapy import Socrata
import geopandas as gpd
from keplergl import KeplerGl